<font size="5">Crud Clientes Ruby</font>
<p><%= @welcome %></p>
<p><a href="home/show">Lista de Clientes</a></p>
<ul class="list-group">
  <li class="list-group-item active" aria-current="true">An active item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>
