// Place all the styles related to the homeControlle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header{
    text-align: center;
}

.navigationBar{
    overflow: hidden;
    background-color: #333;
}
.navigationBar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navigationBar a:hover{
    background-color: #ddd;
    color: black;
}

.link{
    text-decoration: none;
}

.th{
    background-color: black;
    color: white;
}